.cart{
    display: flex;
}

.cart__right{
    background-color: beige;
    padding-left: 1rem;
    padding-right: 1rem;
}

.cart__right--totals{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.cart__right--subtotal {
    display: flex;
    gap:1rem
}

.cart__right--amount {
    font-weight: 700
}

.cart__right--shipping{
    display: flex;
    font-size: 1rem;
    line-height: 1.5rem;
    gap:1rem;
    align-items: flex-start
}

.cart__right-total{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.cart__right-total-amount{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
}